<!doctype html>
<html lang="pt">

<head>
    <title>Cadastro de Usuário - Agenda</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../js/lib/bootstrap.min.js"></script>

    <!-- Angular JS -->
    <script src="../js/lib/angular.min.js"></script>


    <!-- JQuery JS -->
    <script src="../js/lib/jquery-3.3.1.min.js"></script>

    <!-- Nossos CSS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- Nossos Scripts -->


</head>

<!-- margem -->

<body class="m-5">

    <!-- Container principal -->
    <div class="container">

        <div class="box">

            <!-- Formulário -->
            <form>
                <div class="form-group">
                    <div class="form-row">
                        <label>Username</label>
                        <input class="form-control" name="username" type="text" id="username" autofocus required
                            placeholder="Crie um username" size="10">
                    </div>
                    <br />

                    <div class="form-row">
                        <label>Email</label>
                        <input class="form-control" name="emailUsuario" type="email" id="emailUsuario" autofocus
                            required placeholder="Digite seu email" size="10">

                    </div>

                    <br />

                    <div class="form-row">
                        <label>Senha</label>
                        <input class="form-control" name="senha" type="password" id="senha" autofocus required
                            placeholder="Crie uma senha" size="10">

                    </div>

                    <br />

                    <input type="submit" class="btn btn-primary" value="Cadastrar">





                </div>
            </form>


        </div>


    </div>

</body>

</html>