<!-- Container principal -->
<div class="container">

    <div class="box cadastro">
        <h5>Cadastrar novo contato</h5>
        <!-- Formulário -->
        <form>
            <div class="form-group">
                <div class="form-row">
                    <label>Nome</label>
                    <input class="form-control" name="nomeContato" type="text" id="nomeContato" autofocus required
                        placeholder="Digite o nome do contato" size="10">
                </div>
                <br />

                <div class="form-row">
                    <label>Email</label>
                    <input class="form-control" name="emailContato" type="email" id="emailContato" autofocus required
                        placeholder="Digite o email do contato" size="10">

                </div>

                <br />

                <div class="form-row">
                    <label>Telefone</label>
                    <input class="form-control" name="telefoneContato" type="tel" id="telefoneContato" autofocus
                        required placeholder="Digite o telefone do contato" size="10">

                </div>

                <br />

                <input type="submit" class="btn btn-primary" value="Salvar contato">
                <input type="reset" class="btn btn-secondary" value="Limpar formulário">




            </div>
        </form>


    </div>


</div>