<!doctype html>
<html lang="pt">

<head>
    <title>Agenda</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../js/lib/bootstrap.min.js"></script>

    <!-- Angular JS -->
    <script src="../js/lib/angular.min.js"></script>
    <script src="https://unpkg.com/@uirouter/angularjs@1.0.22/release/angular-ui-router.min.js"></script>


    <!-- JQuery JS -->
    <script src="../js/lib/jquery-3.3.1.min.js"></script>

    <!-- Nossos CSS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- Nossos Scripts -->
    <script src="../js/app.js"></script>
    <script src="../js/controllers/buscarContato.js"></script>
    <script src="../js/controllers/cadastroContato.js"></script>
    <script src="../js/controllers/cadastroUsuario.js"></script>
    <script src="../js/controllers/listarContato.js"></script>

</head>

<!-- margem -->

<body class="m-5" ng-app="agenda">


    <div class="container">
        <div class="box login">
            <h5>Agenda de Contatos</h5>
            <button type="button" class="btn btn-primary" id="btnLogin">Login</button>
            <button type="button" class="btn btn-primary" id="btnCadastro">Cadastro</button>
        </div>
    </div>



</body>

</html>