<!doctype html>
<html lang="pt">

<head>
    <title>Listar Contatos - Agenda</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../js/lib/bootstrap.min.js"></script>

    <!-- Angular JS -->
    <script src="../js/lib/angular.min.js"></script>


    <!-- JQuery JS -->
    <script src="../js/lib/jquery-3.3.1.min.js"></script>

    <!-- Nossos CSS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- Nossos Scripts -->


</head>

<!-- margem -->

<body class="m-5">

    <!-- Container principal -->
    <div class="container">
        <div class="box cadastro">
            <h5>Busca por nome</h5>
            Nome:
            <br />
            Email:
            <br />
            Telefone:
            <br />




        </div>
    </div>

</body>

</html>