<!doctype html>
<html lang="pt">

<head>
    <title>Página Inicial - Agenda</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">

    <!-- Bootstrap JS -->
    <script src="../js/lib/bootstrap.min.js"></script>

    <!-- Angular JS -->
    <script src="../js/lib/angular.min.js"></script>


    <!-- JQuery JS -->
    <script src="../js/lib/jquery-3.3.1.min.js"></script>

    <!-- Nossos CSS -->
    <link rel="stylesheet" href="../css/common.css">

    <!-- Nossos Scripts -->


</head>

<!-- margem -->

<body class="m-5">

    <!-- Container principal -->
    <div class="container">

        <div class="box">
            <h5>Opções disponíveis</h5>
            <button type="button" class="btn btn-primary">Adicionar contato</button>
            <button type="button" class="btn btn-primary">Buscar contato </button>
            <button type="button" class="btn btn-primary">Listar contatos</button>


        </div>


    </div>

</body>

</html>